<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <h1>New Fruit Page</h1>

  <form action="/fruits" method="POST">
    Name: <input type="text" name="name"><br/>
    Color: <input type="text" name="color"><br/>
    Is Ready To Eat: <input type="checkbox" name="readyToEat">
    <input type="submit">
  </form>


</body>
</html>
