<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <h1>Fruits Show Page</h1>
  The <%= fruit.name %> is <%= fruit.color%>

  <% if(fruit.readyToEat === true) {%>

      <h3>It is ready to Eat</h3>

  <% } else {%>

      <h3>It is not ready to eat</h3>

  <% }%>
</body>
</html>
